# Auto-detect text files and normalize them to LF in the repository.
* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.ico binary
*.ogg binary
*.mp3 binary
*.sketch binary
